{{define "content"}}
    {{if .Flash.Has "Success"}}
		<div>{{.Flash.Get "Success"}}</div>
    {{end}}

	<a href="{{route "create"}}">Create new Todo</a><br>
	<a href="#"
	   hx-get="{{route "list"}}"
	   hx-target="#table-body"
	   hx-trigger="click"
	   hx-indicator="#loading">Refresh</a>
	<span id="loading">Loading...</span>
	<br>

	<div>
		<table>
			<thead>
			<tr>
				<th>Done</th>
				<th>Content</th>
				<th>Actions</th>
			</tr>
			</thead>
			<tbody id="table-body">
            	{{component "todo-table-body" .List}}
			</tbody>
		</table>
	</div>
{{end}}

{{define "style"}}
	<style>
		#loading {
			display: none;
		}

		#loading.htmx-request {
			display: inline-block;
		}
	</style>
{{end}}
